@import '~/assets/styles/mixins.scss';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
  // border: 1px solid red;
}
::selection {
  color: #fff; /* Set the text color for highlighted text */
  background-color: #432361; /* Set the background color for highlighted text */
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary, sans-serif;
  overflow-x: hidden;
 position: relative;
}

a {
  text-decoration: none;
}
